*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    width: 1230px;
    height: 100%;
    margin: 0 auto;
}
body{
    width: 100%;
    height: 100%;
}
head{
    width: 100%;
    height: 100%;
}